[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django-debug-toolbar = "*"
ruff = "*"
pre-commit = "*"
django-silk = "*"
snakeviz = "*"
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
pytest-xdist = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
