[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ruff = "*"
pre-commit = "*"
snakeviz = "*"
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
pytest-xdist = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
